# .github/CODEOWNERS
*               @HowdenFr
backend/        @team-lead-handle @backend-lead-handle
frontend/       @team-lead-handle @frontend-lead-handle
db/             @HowdenFr @aloraorr
.github/        @team-lead-handle
